<table>
  <th colspan="3">Lista de produtos</th>
  <tr>
    <td>Id</td>
    <td>Nome</td>
    <td>Quantidade</td>
  </tr>
  <tr *ngFor="let produto of listaCopmpleta">
    <td>{{produto.id}}</td>
    <td>{{produto.nome}}</td>
    <td>{{produto.quantidade}}</td>
  </tr>
</table>