  <table>
    <th colspan="3">Cadastro de produto</th>
    <tr>
      <td><input type="number" value="{{id}}"/></td>
      <td><input type="text" value="{{nome}}"/></td>
      <td><input type="number" value="{{quantidade}}"/></td>
    </tr>
    <tfoot colspan="3">
        <input type="button" value="Cadastrar"/>
    </tfoot>
  </table>
 